IO_LOC "ser_tx" M11;
IO_PORT "ser_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ser_rx" T13;
IO_PORT "ser_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "rst_n" T10;
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "ser_tx1" R12;
IO_PORT "ser_tx1" IO_TYPE=LVCMOS33 PULL_MODE=UP;
